.banner {
    padding: 300px 100px;


    background-image: url('../images/banner/banner1.png');


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}

.banner-info {
    text-align: end;
    width: 500px;
    margin-left: auto;
}


.banner-title {
    font-weight: 700;
    font-size: 65px;

}

.banner-description {
    color: #444343;
}

.btn-primary {
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    height: 64px;
    width: 160px;
}

.about-area {
    padding: 100px 300px;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.about-image img{
    width: 400px;
}

.about-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    
    
}
.about-content p{ 

    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;





}
.about-content ul li{
    list-style: none;

}
.about-content ul{
    margin: 0;
    padding: 0;
}
.plan{
    padding: 50px 200px;
}
.plan-title{
    text-align: center;

    
}
.plan-taitle h1{
    font-size: 40px;
}
.plan-wrap{
    display: flex;
    justify-content: space-around;
}
.plan-content{
    text-align: center;
}
.contact-contant a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    background-color: aliceblue;
    color: coral;
    text-decoration: none;
}
.contact-contant{
    background-image: url('../images/watch.png');
    padding: 200px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact{
    padding: 50px;

}
.contact-contant h1{
    margin-bottom: 10px;

}

.footer-area{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 50px 70px;
}
.footer-content h1{
    color: aliceblue;
    
}
.footer-content p{
    color: aliceblue;
}
.footer-content{
    width: 40%;
}
.footer-form{
    color: aliceblue;
}
.footer-form h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.footer-form input{
    width: 300px;
    height: 35px;
    border: 1px solid white;
    background-color: transparent;
    color: aliceblue;
    padding: 5px 20px;
    display: block;
    margin-bottom: 20px;
}
.footer-form button{
    height: 50px;
    width: 150px;
    color: #F15B22;
}